<%- include("header") -%>

<%- include("navbar") -%>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Home</h1>
      <p>
        Every day, the number of cyberattacks increase rapidly across the Worldwide Web. So how about we create a community where experts who
        know how to tackle these problems help fix these vulnerablities?
      </p>
      <p>
        Think you've got what it takes to deal with these threats? Why not contribute a blog or two so others can know too?
      </p>
      <p><a target="_blank" class="btn btn-primary btn-lg" name="about" href="/about" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="recent-panel">
          <div class="jumbotron">
            <h4>Recent</h4>
            <% posts.slice(-5).reverse().forEach(function(post) { %>
              <a class="recent" target="_blank" href="/posts/<%= post.postTitle %>"><%= post.postTitle %></a><br />
            <% }); %>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <% posts.slice().reverse().forEach(function(post) { %>
          <div class="container">
            <div class="jumbotron">
              <h1><%= post.postTitle %></h1>
              <p id="pAuthor">- Written by <%= post.postAuthor %></p>
              <p>
                <%= post.postContent.substring(0, 200) + "... " %>
                <a href="/posts/<%=post._id%>">Read More</a>
              </p>
            </div>
          </div>
          <hr />
        <% }); %>
      </div>
      <div class="col-md-3">
        
      </div>
    </div>
  </div>
</main>

<%- include("footer") -%>    
