<%- include("header") -%>

<%- include("navbar") -%>

  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <div class="container blog">
        <div class="jumbotron">
          <h1>
            <%= title %>
          </h1>
          <p id="pAuthor">
            - Written by <%= author %>
          </p>
          <div id="divCont">
            <p id="pCont">
              <%= content %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>

<%- include("footer") -%>
